.section-iam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.name-line {
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 30vw;
    height: 4px;
    background-color: black;
    margin-right: 10px;
  }

  .name {
    color: #00BC8F;
    font-weight: bold;
    font-size: 56px;
  }
}


@media (max-width 700px) {
  .section-iam {
    height: 30vh;
  }


}
