<header class="container">
  <div class="header-icons">
    <img src="assets/logo2.png" (click)="scrollToTopAndRedirect()" class="header-left"
         i18n-alt="Scroll to top and redirect" alt="Logo">

    <div class="space">
      <!-- German Flag: nur anzeigen, wenn NICHT deutsch -->
      <img *ngIf="!isGerman"
           class="header-img header-img-flag"
           (click)="openExternalWebsiteDe()"
           src="assets/german_flag.svg"
           i18n-alt="Switch to German"
           alt="German flag">

      <!-- English Flag: nur anzeigen, wenn deutsch aktiv ist -->
      <img *ngIf="isGerman"
           class="header-img header-img-flag"
           (click)="openExternalWebsiteEn()"
           src="assets/english_flag.svg"
           i18n-alt="Switch to English"
           alt="English flag">

      <!-- Burger menu -->
      <img class="header-img" (click)="toggleMenu()"
           src="assets/burger.png"
           i18n-alt="Open menu" alt="Menu icon">
    </div>
  </div>
</header>
