<header class="container">
  <div class="header-icons">
    <img src="assets/logo2.png" (click)="scrollToTopAndRedirect()" class="header-left"
         i18n-alt="Scroll to top and redirect" alt="Logo">
    <div class="space">
      <img class="header-img" (click)="toggleMenu()" src="assets/german_flag.svg" i18n-alt="Switch to German"
           alt="German flag">
      <img class="header-img" (click)="toggleMenu()" src="assets/english_flag.svg" i18n-alt="Switch to English"
           alt="English flag">
      <img class="header-img" (click)="toggleMenu()" src="assets/burger.png" i18n-alt="Open menu" alt="Menu icon">
    </div>
  </div>
  <div id="burger-menu-content" class="burger-menu-content">
    <ul>
      <li><a href="#aboutme" (click)="toggleMenu()" i18n>About me</a></li>
      <li><a href="#skills" (click)="toggleMenu()" i18n>My skills</a></li>
      <li><a href="#portfolio" (click)="toggleMenu()" i18n>Portfolio</a></li>
    </ul>
    <div class="polygon"></div>
  </div>
</header>
