<header>
  <div (click)="scrollToTopAndRedirect()" class="header-left">
    [CB]
  </div>
  <div class="header-right">
    <div class="burger-menu" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div id="burger-menu-content" class="burger-menu-content">
      <ul>
        <li><a href="#aboutme">About me</a></li>
        <li><a href="#skills">My skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
      </ul>
      <div class="polygon"></div>
    </div>
  </div>
</header>
