
header {
  height: 92px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 95vw;
  max-width: 1440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* ensures the header stays on top */
  background-color: #FFFCF3;
  border: 1px solid red;
  @media (min-width: 1168px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;

  .line {
    height: 4px;
    background-color: #000;
    margin-left: 5px; /* Adjust the value to indent the lines */
  }
}
.burger-menu-content {
  display: none;
  position: absolute;
  text-align: right;
  top: 92px;
  right: 5%;
  width: 300px;
  height: 400px;
  background-color: #FFFCF3;
  border: 1px solid red;
  z-index: 1001;
  font-size: 48px;
  font-weight: 700;
  @media (max-width: 1100px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#burger-menu-content ul {

  padding-right: 10%;
}

#burger-menu-content li {
  margin-bottom: 10px;
}

#burger-menu-content a {
  text-decoration: none;
  color: #000;
}


.header-left {
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;

    .line {
      height: 4px;
      background-color: #000;
      margin-left: 5px; /* Adjust the value to indent the lines */
    }
  }


}
