<section>
    <div class="leftsection">
    <h1>About me</h1>
<div>
<div>
Hey there! I'm Christina, a frontend developer 
fueled by a passion for crafting user-friendly 
digital experiances. With a talent for problem-solving and an eye for detail, 
I specalize in translating complex ideas into elegant designs.<br><br><br>
Let's connect and create something amazing together
</div>
<div>
    <div>image</div>
    <div>Flexible in terms of working environments, I can work effectively both on site in Nuremberg and remotely</div>
</div>

<div>
    <div>image</div>
    <div>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</div>
</div>

<div>
    <div>image</div>
    <div>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. 
        I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. 
    I take pride in my ability to distill compex technical challenges into simple, user-friendly solutions. 
This way, I help you achieve your goals and bring your vision to life.</div>
</div>

</div></div>
<div class="rightsection"></div>

</section>