h2 {
  text-align: left !important;  /* Links ausrichten */
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  background-color: #FFFCF3;
  display: inline-block;
  padding: 0 10px;
}

.skills{
  scroll-margin-top: 50px;
}

.large-box {
  width: 96vw;
  height: 433px;
  margin: -40px auto 20px auto;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
  position: relative;
  z-index: 0;
}


.skills-container {
  height: 271px;
  margin: 20px auto;
  padding: 10px;
  overflow: hidden;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 20px);
  padding: 10px;
}

.skills-icons {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.skills p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


.contact-message {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}
