<div class="privacy">
  <h2 i18n>Privacy Policy</h2>
  <img src="assets/arrow-left-line.svg" style="width: 50px" class="hover" (click)="scrollToTopAndRedirect()">
  <p i18n>Last updated: September 14, 2024</p>

  <h3 i18n>Table of Contents</h3>
  <ul class="index">
    <li><a class="index-link" href="#m3" i18n>Responsible Party</a></li>
    <li><a class="index-link" href="#mOverview" i18n>Overview of Processing Activities</a></li>
    <li><a class="index-link" href="#m2427" i18n>Relevant Legal Bases</a></li>
    <li><a class="index-link" href="#m27" i18n>Security Measures</a></li>
    <li><a class="index-link" href="#m24" i18n>International Data Transfers</a></li>
    <li><a class="index-link" href="#m12" i18n>General Information on Data Storage and Deletion</a></li>
    <li><a class="index-link" href="#m10" i18n>Rights of Data Subjects</a></li>
    <li><a class="index-link" href="#m225" i18n>Provision of Online Services and Web Hosting</a></li>
    <li><a class="index-link" href="#m134" i18n>Use of Cookies</a></li>
    <li><a class="index-link" href="#m182" i18n>Contact and Inquiry Management</a></li>
  </ul>

  <h3 id="m3" i18n>Responsible Party</h3>
  <p>Christina Bernhardt<br>Fenngasse 18<br>91227 Leinburg</p>
  <p>Email Address: <a href="mailto:sozia76@web.de">email</a></p>

  <h3 id="mOverview" i18n>Overview of Processing Activities</h3>
  <p i18n>The following overview summarizes the types of data processed, their purposes, and the categories of affected
    persons.</p>

  <h3 i18n>Types of Data Processed</h3>
  <ul>
    <li i18n>Inventory data.</li>
    <li i18n>Contact data.</li>
    <li i18n>Content data.</li>
    <li i18n>Usage data.</li>
    <li i18n>Meta, communication, and procedural data.</li>
    <li i18n>Log data.</li>
  </ul>

  <h3 i18n>Categories of Affected Persons</h3>
  <ul>
    <li i18n>Communication partners.</li>
    <li i18n>Users.</li>
  </ul>

  <h3 i18n>Purposes of Processing</h3>
  <ul>
    <li i18n>Communication.</li>
    <li i18n>Security measures.</li>
    <li i18n>Organizational and administrative procedures.</li>
    <li i18n>Feedback.</li>
    <li i18n>Providing our online offering and user-friendliness.</li>
    <li i18n>Information technology infrastructure.</li>
  </ul>

  <h2 id="m2427" i18n>Relevant Legal Bases</h2>
  <p i18n><strong>Relevant Legal Bases under the GDPR:</strong> The following provides an overview of the legal bases of
    the GDPR on which we process personal data. Please note that national data protection regulations in your or our
    country of residence may apply in addition to the GDPR. If specific legal bases are relevant in individual cases, we
    will inform you in this privacy policy.</p>

  <p i18n><strong>National Data Protection Regulations in Germany:</strong> In addition to the GDPR, national data
    protection regulations in Germany apply, such as the Federal Data Protection Act (BDSG). This includes specific
    provisions on the right to information, deletion, objection, the processing of special categories of personal data,
    processing for other purposes, and automated individual decision-making, including profiling.</p>

  <h3 id="m27" i18n>Security Measures</h3>
  <p i18n>We take appropriate technical and organizational measures to ensure a level of security appropriate to the
    risk, considering the state of the art, implementation costs, the nature, scope, context, and purposes of
    processing, as well as the varying likelihood and severity of risks to the rights and freedoms of natural
    persons.</p>

  <h3 id="m24" i18n>International Data Transfers</h3>
  <p i18n>If we process data in a third country (i.e., outside the European Union (EU) or the European Economic Area
    (EEA)) or disclose or transfer data to third parties, it will only occur in compliance with legal requirements.</p>

  <h3 id="m12" i18n>General Information on Data Storage and Deletion</h3>
  <p i18n>We delete personal data in accordance with legal requirements once the underlying consent is revoked or the
    legal bases no longer apply (e.g., when the purpose for processing no longer exists, or the data is no longer
    necessary).</p>

  <h3 id="m10" i18n>Rights of Data Subjects</h3>
  <ul>
    <li i18n><strong>Right to Object:</strong> You have the right to object to the processing of your personal data at
      any time for reasons arising from your particular situation.
    </li>
    <li i18n><strong>Right to Withdraw Consent:</strong> You can withdraw your consent at any time.</li>
    <li i18n><strong>Right to Access:</strong> You have the right to request confirmation of whether data concerning you
      is being processed.
    </li>
  </ul>

  <h3 id="m225" i18n>Provision of Online Services and Web Hosting</h3>
  <p i18n>We process the data of users to provide our online services.</p>

  <h3 id="m134" i18n>Use of Cookies</h3>
  <p i18n>Cookies are small text files that store information on devices and allow specific functions, such as login
    status or shopping cart contents, to be retained.</p>

  <h3 id="m182" i18n>Contact and Inquiry Management</h3>
  <p i18n>When contacting us (e.g., via post, contact form, email, telephone, or social media), we process the
    information provided to handle the inquiry.</p>

  <p class="seal" i18n><a href="https://datenschutz-generator.de/"
                          title="Generated with Dr. Thomas Schwenke's free privacy generator" target="_blank"
                          rel="noopener noreferrer nofollow">Generated with the free Privacy Policy Generator by Dr.
    Thomas Schwenke</a></p>
</div>
