
.contact {
  color: #FFFCF3;
  background-color: black;
}

.back-to-top-arrow {
  position: fixed;
  bottom: 100px;
  right: 10vw;
  width: 20px;
  height: 20px;
  color: red;
  background-color: black;
  transition: height 1s ease-out;
  z-index: 1000;
  opacity: 1;
  transform: scaleY(0);
}
.back-to-top-arrow.animate {
  transform: scaleY(2);
}


h2 {
  text-align: start;
  color: white;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #00d1b2;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.contact-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;


  h1 {
    font-size: 3rem;
    font-weight: bold;
  }


  p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;

    .form-control {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      font-family: "Overpass";
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      outline: none;

      &::placeholder {
        color: #aaa;
      }
    }

    textarea {
      height: 100px;
      resize: none;
    }
  }

  .submit-btn {
    background-color: #00d1b2;
    color: #000;
    padding: 0.75rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;

    &:disabled {
      background-color: #444;
      cursor: not-allowed;
    }
  }

  a {
    color: #00d1b2;
  }

  input[type='checkbox'] {
    margin-right: 0.5rem;
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
}

.slanted-section {
  background-color: #000; // Setze die Hintergrundfarbe (z. B. Schwarz)
  color: white;
  padding: 50px;
  position: relative;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%); // Hier wird der schräge Effekt erzeugt
  text-align: center;


  p {
    font-size: 24px;
  }
}
