body {
    padding: 37px 100px 37px 100px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    }

.top-menu{
    display: flex;
    height: 32px;
    gap: 29px;
    justify-content: space-between;
    font-size: smaller;
}

.name{
font-size: x-large;
}