@import "../../../style/fonts.scss";
@import "../../../style/variables.scss";

.about-me {
display: flex;
  flex-direction: row;
  width: 90vw;
  height: 500px;
  justify-content: space-evenly;
  p{
    font-size: 22px;
    font-family: $font-family-overpass;
    font-weight: 400;
  }
}

.about-me-img {
  width: 50%;
  height: 100%;
  margin-right: 20px;
  margin-left: 100px;
}

.about-me-text {
  width: 50%;
  font-size: 34px;
  height: 100%;
}
.about-me-left{
  display: flex;
  height: 40px;
  gap: 8px
}


