@import "../../../style/fonts.scss";
@import "../../../style/variables.scss";

.about-me {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 500px;
  justify-content: center;
  border: 1px solid green;
  column-gap: 100px;
  

}

.about-me-img {
  width: 50%;
  height: 100%;

  border: 1px solid red;
}

.about-me-text {
  width: 50%;
  font-size: 34px;
  height: 100%;
  border: 1px solid blue;
}

/* Container to center the button */
.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

/* Button styling */
.styled-button {
  height: 68px;
  width: 213px;
  background-color: #FFFCF3; /* Light background color */
  color: black; /* Text color */
  padding: 10px 20px; /* Padding for spacing inside the button */
  font-size: 16px; /* Font size */
  border: 4px solid black; /* Black border */
  border-radius: 0; /* Sharp corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 23px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Button hover effect */
.styled-button:hover {
  background-color: black; /* Invert background on hover */
  color: #FFFCF3; /* Invert text color on hover */
}

h2{
  text-align: start;
}

