<section id="aboutme" class="about-me">
  <h2>{{ 'aboutMe' | translate }}</h2>
  <div class="about-me-2">
    <div class="about-me-text">
      <p>{{ 'introduction' | translate }}</p>
      <p>{{ 'contactMe' | translate }}</p>
      <div class="img">
        <img class="img" src="/assets/home.svg">
        <span class="text">{{ 'basedIn' | translate }}</span>
      </div>
      <div class="img">
        <img class="img" src="/assets/remote.svg">
        <span class="text">{{ 'remoteWork' | translate }}</span>
      </div>
      <div class="display-center">
        <button (click)="scrollToContact()" class="button-container">{{ 'letsTalk' | translate }}</button>
      </div>
    </div>
    <img src="/assets/Christina1.png" alt="Christina Bernhardt" class="about-me-img">
  </div>
</section>
