@import "../../../style/fonts.scss";
@import "../../../style/variables.scss";

.about-me {
display: flex;
  flex-direction: row;
  width: 80vw;
  height: 500px;
  justify-content: space-evenly;
  border: 1px solid green;

}

.about-me-img {
  width: 50%;
  height: 100%;
  margin-right: 20px;
  margin-left: 100px;
  border: 1px solid red;
}

.about-me-text {
  width: 50%;
  font-size: 34px;
  height: 100%;
  margin-left: 20px;
    border: 1px solid blue;
}
