<section id="aboutme" class="about-me">
  <h2 i18n>About me</h2>
  <div class="about-me-2">
    <div class="about-me-text">

      <p i18n>I am a Frontend Developer of Nuremberg, Germany. I help designers and companies to bring their ideas to real life. Creativity and logical thinking are skills that I have developed to connect ideas into quality products.</p>

      <p i18n>If you think I would be a good match for your projects, contact me!</p>

      <div class="img">
        <img class="img" src="assets/home.svg" i18n-alt="Based in Nuremberg" alt="Home icon">
        <span class="text" i18n>Based in Nuremberg</span>
      </div>

      <div class="img">
        <img class="img" src="assets/remote.svg" i18n-alt="Open to work remote" alt="Remote work icon">
        <span class="text" i18n>Open to work remote</span>
      </div>

      <div class="display-center">
        <button (click)="scrollToContact()" class="button-container" i18n>Let's talk</button>
      </div>

    </div>

    <img src="assets/Christina1.png" alt="Christina Bernhardt" class="about-me-img">
  </div>
</section>
