<h2>About me</h2>
<section class="about-me">
  <div class="about-me-text">

    <p>I am a Frontend Developer of Nuremberg, Germany. I help designers and companies to bring their ideas to real
      life. Creativity and logigal thinking are skills, that I have developed to connect ideas into quality
      products.</p>

    <p>If you think I`d be a good match for your projects, contact me!</p>
    Based in Nuremberg
    Open to work remote

    Let`s talk

  </div>

  <img src="/assets/german_flag.svg" alt="Christina Bernhardt" class="about-me-image">
</section>
