/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    display: flex;
    color: black;
    background-color: #FFFCF3;
    font-family: sans-serif;
     }

.green-font {
    color: 00BC8F;

}

h1{
    font-size: 128px;
}

h2{
    font-size: 78px;
}