<footer>
    <div>
        <div onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); window.location.href='/'" class="footer-logo">
            [CB]
          </div>
        <div>© Christina Bernhardt</div>
    </div>
    <div>
        <div>
            <img src="./assets/github.svg" alt="">
            <img src="./assets/linkedin.svg" alt="">
            <img src="./assets/github.svg" alt="">
        </div>
        <div>
            <a href="imprint">Imprint</a>
        </div>
    </div>

</footer>