footer {
  max-width: 1440px;
  margin: 0 auto; /* Zentriert den Footer */
  display: flex;
  justify-content: center;

  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer {
  width: 96vw;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;


}

.logo-footer {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}
