

footer{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
}

.logo-footer{
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}
