<footer>
  <div>
    <img src="assets/logo2.png" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); window.location.href='/'"
         class="hover logo-footer">
    <div>Christina Bernhardt</div>
  </div>
  <div>
    <div>
      <img class="hover" src="assets/github.svg" alt=""
           onclick="window.location.href='https://github.com/ChristinaBernhardt'">


      <img class="hover" src="assets/linkedin.svg" alt=""
           onclick="window.location.href='https://www.linkedin.com/in/christina-bernhardt-9424ba1a5'">

    </div>
    <div>
      <a href="imprint" class="link">Imprint</a>
    </div>
  </div>

</footer>
